@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

/* uncomment bg color if needed so it is not inherited from .body */
body {
    background-color: #333;
}


.body {
    font-family: 'Lato', sans-serif;
    color: #222;
    overflow-x: hidden;
    /* hides scroll bar on x axis */
    margin: 0;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    /* transform origin: origin by default is in the middle, just turns it but we want it to rotate from top left position. MDN docs transform origin to see how it works with different values.*/
    transition: transform 0.5s linear;
    /* linear: one speed */
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    /* 
    CodePen to fix the circle moving down to init position: https://codepen.io/buglessdev/pen/KKgzwwp 
    But when we click the menu now content goes beyond the screen which can be fixed by javascript, but I have not attempted it.
    */
}

.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    /* This is based on the top/left values in .circle-container. If numbers are updated, need to update both places. */
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
}

.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    /* relative to the circle */
    transform: rotate(90deg);
    transform-origin: top left;
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li a {
    color: inherit; 
    text-decoration: inherit; 
    /* Stack Overflow: https://stackoverflow.com/questions/8919682/remove-all-styling-formatting-from-hyperlinks */
  }

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}

nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li +li {
    margin-left: 30px;
    transform: translateX(-200%);
}

.content img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}

