@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

/* uncomment bg color if needed so it is not inherited from .body */
body {
    background-color: rgb(161,100,223);
    /* font-family: 'Poppins', sans-serif; */
}

.body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    overflow: hidden;
    margin: 0;
}

main div {
    flex-direction: row;
}

h2 {
    margin-bottom: 2.5rem;
}

.btn {
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline-color: white;
}